<%
  # helpers
  @format       = get_format
  @base_name    = get_base_name(@item, attribute)
  @gallery_json = get_json(@item, attribute)
  @translations = get_translations
%>

<% unless @fluxiom_assets_loaded # only load assets once %>

  <% content_for :stylesheets do %>
  <%= stylesheet_link_tag "fluxiom-gallery" %>
  <% end %>

  <% content_for :javascripts do %>
  <%= javascript_include_tag "fluxiom-gallery" %>
  <% end %>

  <% @fluxiom_assets_loaded = true %>

<% end %>
  
<% content_for :javascripts do %>
<script>
  $(document).ready(function(){
    $('#<%= attribute_id %>').fluxiomGallery({
      data: <%= @gallery_json %>,
      format: '<%= @format %>',
      baseName: '<%= @base_name %>'
    });
  });
</script>
<% end %>

<li id="<%= attribute_id %>">

    <%= form.label attribute, label_text %>

    <ul class="flux-gallery">    
      <li class="flux-item flux-item-add">
        <a href="<%= admin_fluxiom_index_path %>?gallery_id=<%= attribute_id %>" class="flux-button flux-add-button">Add <%= attribute %> +</a>
      </li>
    </ul>

</li>