<%
  # helpers
  @format       = get_format(@item, attribute)
  @name         = get_name(@item, attribute)
  @data         = get_json(@item, attribute)
  @translations = get_translations
  @account      = get_account(@item, attribute)
%>

<% unless @typus_fluxiom_assets_loaded # only load assets once %>

  <% content_for :stylesheets do %>
  <%= stylesheet_link_tag "typus_fluxiom/gallery/application" %>
  <% end %>

  <% content_for :javascripts do %>
  <%= javascript_include_tag "typus_fluxiom/gallery/application" %>
  <% end %>

  <% @typus_fluxiom_assets_loaded = true %>

<% end %>

<% content_for :javascripts do %>
<script>
  $(document).ready(function(){
    $('#<%= attribute_id %>').fluxiomGallery({
      data: <%= @data %>,
      format: '<%= @format[:url] %>',
      baseName: '<%= @name %>',
      translations: <%= @translations %>
    });
  });
</script>
<% end %>

<li id="<%= attribute_id %>">

    <%= form.label attribute, label_text %>

    <ul class="flux-gallery">
      <li class="flux-item flux-item-add">
        <a href="<%= admin_fluxiom_index_path %>?gallery_id=<%= attribute_id %><%= "&account=#{@account}" if @account %>" class="flux-button flux-add-button">Add <%= attribute %> +</a>
      </li>
    </ul>

<style>
.flux-item {
  height: <%= @format[:height] %>px;
}
.flux-add-button {
  width: <%= @format[:width] %>px;
  line-height: <%= @format[:height] %>px;
}
</style>

</li>