<% 
  width         = Fluxiom.config.preview_width || 100
  height        = Fluxiom.config.preview_height || 100
  geometry      = "#{width}x#{height}"  
  format        = "f#{geometry}.jpg"    
  obj           = dom_class(@item.class)
  base_name     = "#{obj}[#{attribute}]"
  translations  = Typus::Translate::Configuration.config["locales"] rescue nil  
  gallery_items = @item[attribute].delete_if {|x| x == ""} rescue nil
%>

<% content_for :stylesheets do %>

  <!-- fluxiom css -->
  <%= stylesheet_link_tag "/vendor/typus/fluxiom/gallery/gallery.css" %>  
  <style>    
    .flux-item          { width: <%= width %>; height: <%= height %>; }
    .flux-caption       { width: <%= width-8 %>px; }    
    .flux-caption:focus { height: <%= height / 2 %>px; }    
    .flux-add-button    { line-height: <%= height %>px; }
  </style>

<% end %>

<% content_for :javascripts do %>

  <!-- fluxiom js -->
  <script>
    var fluxConfig = {
      format        : '<%= format %>',
      base_name     : '<%= base_name %>',
      translate     : <%= !translations.nil? %>
    };
  </script>
  <%= javascript_include_tag  "/vendor/typus/fluxiom/vendor/jquery.tmpl.js", "/vendor/typus/fluxiom/gallery/gallery.js" %>

<% end %>

<li id="<%= attribute %>">

    <%= form.label attribute, label_text %>

    <ul class="flux-gallery">

      <% if gallery_items %>
        <% gallery_items.each_with_index do |img, i| %>    
        
        <%= render  :partial  =>  'admin/templates/fluxiom_gallery_item.erb', 
                    :locals   =>  { :img => img[1], 
                                    :format => format, 
                                    :translations => translations, 
                                    :base_name => "#{base_name}[#{i}]" } %>

              
        <% end %>
      <% end %>

    
      <li class="flux-item flux-item-add">
        <a href="<%= fluxiom_index_url %>" class="flux-button flux-add-button" title="Add image">+</a>
      </li>

    </ul>
  
    <script id="flux-empty-template" type="text/html">
      <input id="flux-empty" type="hidden" name="<%= base_name %>" value="">
    </script>

    <script id="flux-image-template" type="text/html">    

      <%= render  :partial  =>  'admin/templates/fluxiom_gallery_item_template.erb', 
                  :locals   =>  { :translations => translations, :base_name => base_name } %>  
    </script>

</li>
