<% 
geometry = 50
obj = @item.class.to_s.downcase
%>
<% content_for :stylesheets do %>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/smoothness/jquery-ui.css">
<% end %>
<% content_for :javascripts do %>
  
  <% javascript_tag do %>
  $(function() { $(".flux-gallery").sortable(); });
  	
  function removeImageFromGallery(parent) {
    parent.remove();
    if ($(".flux-gallery .flux-item").length == 1) { //no more assets availabe
        var name= '<%= "#{obj}[#{attribute}]"%>'; 
        var input = '<input id="flux-gallery-empty" type="hidden" name="' + name + '" value="" />';
        $(".flux-gallery .flux-item").before(input);
    }
  }
  
  function setGallery(data) {
    $('input').remove('#flux-gallery-empty');

    $.each(data, function(idx, asset){
      var input = "";
      input += '<input type="text" name="<%= "#{obj}[#{attribute}][]"%>[description]" value="'+ (asset.title) + '" onclick="this.select();" />';
      input += '<input type="hidden" name="<%= "#{obj}[#{attribute}][]"%>[public_url]" value="'+ (asset.public_url) + '"  />';
      
      var el = $('<li class="flux-item"><img src="' + asset.public_url.replace(/_.*/,'_<%= geometry %>') + '" alt="' + (asset.title) + '" /><a href="#" class="remove-button" title="Remove this image" onclick="removeImageFromGallery($(this).parent()); return false;">Remove</a>' + input + '</li>');
      $("#btn_add_wrap").before(el);
    });
  }
  <% end %>
<% end %>

<fieldset>
  <legend>Gallery</legend>
  <%= debug(@resource)%>
  <ul class="flux-gallery">
    <% @item[attribute].each do |img| %>
    <li class="flux-item"><img src="<%= flux_image_for(img['public_url'], geometry) %>" alt="img['description']" /><br>
      <a href="#" class="remove-button" title="Remove this image" onclick="removeImageFromGallery($(this).parent()); return false;">Remove</a>
      <% img.each do |k,v|
        type = "hidden"
        type = "text" if k == 'description' #&& description_enabled
       %>     
        <input type="<%= type %>" name="<%= "#{object_name}[#{method.to_s}][][#{k}]"%>" value="<%= v%>" onclick="this.select();" />
      <% end %>
    </li>
    <% end if @item[attribute] %>
    <li class="flux-item" id="btn_add_wrap">
      <a href="#" class="btn_add" onclick="window.open('<%= url_for(:controller => 'flux_assets') %>?callback=setGallery&multiple=true', 'Asset Selector', 'toolbar=no,status=no,resizable=yes,dependent=yes,scrollbars=yes,height=400,width=600'); return false;">+</a>
    </li>
  </ul>
  
</fieldset>

