<% 
  width    = FluxAssets::Configuration.config['preview_width'] || 100
  height   = FluxAssets::Configuration.config['preview_height'] || 100
  geometry = "#{width}x#{height}"  
  format   = "f#{geometry}.jpg"    
  obj      = @item.class.to_s.downcase
%>

<% content_for :stylesheets do %>
<style><%= render :partial => "admin/templates/flux_gallery_stylesheets.css.erb", :locals => { :width => width, :height => height } %></style>
<% end %>

<% content_for :javascripts do %>
<%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js" %>  
<script><%= render :partial => "admin/templates/flux_gallery_javascripts.js.erb", :locals => { :obj => obj, :attribute => attribute, :geometry => geometry } %></script>
<% end %>

<li>
  <fieldset>

    <%= form.label attribute, label_text %>

    <ul class="flux-gallery">
    <% if @item[attribute].is_a? Array  %>
      <% @item[attribute].each do |img| %>
    
        <li class="flux-item flux-image">      

          <img src="<%= flux_image_for(img['public_url'], format) %>" alt="img['description']">
      
          <a href="#" class="flux-button flux-remove-button" title="Remove image">&#215;</a>

          <% img.each do |key, value| %>
            <% case key %>
            <%  when "description" %>
              <textarea class="flux-caption" name="<%= "#{obj}[#{attribute}][][#{key}]"%>"><%= value %></textarea>
            <% else %>
              <input type="hidden" name="<%= "#{obj}[#{attribute}][][#{key}]"%>" value="<%= value %>">              
            <% end %>     
          <% end %>

        </li>

      <% end %>
    <% end %>
    
      <li class="flux-item flux-item-add">
        <a href="<%= flux_assets_url %>" class="flux-button flux-add-button" title="Add image">+</a>
      </li>

      <li class="flux-item flux-image-template">
        <img src="" alt="">
        <a href="#" class="flux-button flux-remove-button" title="Remove image">&#215;</a>        
        <textarea class="flux-caption" name=""></textarea>
        <input class="flux-public-url" type="hidden" name="" value="">         
      </li>

    </ul>
  
  </fieldset>
</li>
