<img src="<%= thumbnail %>">
<a href="#" class="flux-button flux-remove-button" title="Remove image">&#215;</a>
<textarea class="flux-caption" name="<%= base_name %>[description]"><%= description %></textarea>
<input class="flux-public-url" type="hidden" name="<%= base_name %>[public_url]" value="<%= public_url %>">