<div id="flux-asset-browser">
<form action="<%= url_for(:action => 'list') %>" method="GET">


  <div id="flux-tags">  
	  <% @tags.each do |tag| 
	    tagname = tag[:tag]  
	  %>
		<input type="checkbox" id="radio-<%= tagname.parameterize %>" name="radio" /><label for="radio-<%= tagname.parameterize %>"><%= tagname %></label>
		<% end %>
  </div>

  <div id="flux-images">  
    <div id="assets">

    </div>
  </div>
  
  <div id="footer">
  <button  id="send-to-typus"><span class="ui-button-text">Use selected images</span></button>
  <input type="submit" value="Refresh">
  </div>


</form>
</div>

<%= content_for :javascripts do %>
<script>

	$(function() {

	  $( "#flux-tags" ).buttonset();
		$( "#selectable" ).selectable();
		$( "button, input:submit").button();

    $('#send-to-typus').click(function(e){
      var selected, return_data = [];
      selected = $('#selectable .ui-selected img');
      if(typeof console != 'undefined'){console.log(selected)};
      
      selected.each(function(index, elem) {
        if(typeof console != 'undefined'){console.log(elem)};
        return_data.push({ public_url: $(elem).attr('data-public-url'), 
                    description: $(elem).attr('data-description')
                  });
        if(typeof console != 'undefined'){console.log(return_data)};
        
      });

      if(window.top.opener){
        window.top.opener.<%= @callback_function %>(return_data);
        }

      return false;
    });
		
		$('#flux-asset-browser form').submit(function(e){		  
      // if(typeof console != 'undefined'){console.log(this.action)};
      $.ajax({
        url: this.action,
        dataType: 'html',
        complete: function(data) {
          // if(typeof console != 'undefined'){console.log(data.responseText)};
          
          $('#assets').html(data.responseText);
		      $( "#selectable" ).selectable();          
        }
      });
      return false;
      
		});
		$('#flux-asset-browser form').submit();

	});

</script>


<!-- <script type="text/javascript" charset="utf-8">

// Function for binding logic to top level window
function openFile(json) {
  if(window.top.opener){
    window.top.opener.<%= @callback_function %>(json);
    }
};


(function(){
  chooser = new AssetChooser({
    tags: <%= @tags.to_json %>,
    activeTags: <%= @active_tags.to_json %>,
    assetURL:'<%= url_for(:action => 'list') %>',
    onSave: openFile,
    //onCancel: window.close,
    allowMultiple: <%= @multiple %>
  });
})();
</script> -->

<% end %>

