<div id="flux-asset-browser">

  <form action="<%= url_for(:action => 'list') %>" method="GET">

    <div id="flux-tags">  
  	  <% @tags.each do |tag| 
  	    tagname = tag.tag
  	    is_filter = (tag.tag == FluxAsset::FILTER_TAG)
  	    class_name = (is_filter ? 'filter-tag' : '')
  	  %>
  		<input type="radio" id="radio-<%= tagname.parameterize %>" <%= "checked" if is_filter  %> class="<%= class_name %>" name="radio" value="tag_<%= tag.id %>"><label for="radio-<%= tagname.parameterize %>" data-tag-filter="tag_<%= tag.id %>"><%= tagname %></label>
  		<% end %>
    </div>

    <div id="flux-assets">  
      <ol id="selectable">
      <% @assets.each do |asset| %>
        <% next unless asset.public_url %>
      	<li class="ui-state-default <%= asset.tags.collect { |t| "tag_#{t.id}"}.join(' ') %>"><img src="<%= asset.large_thumbnail_url %>" data-public-url="<%= asset.image_url %>" data-description="<%= asset.description %>"></li>
      <% end %>	  
      </ol>
    </div>
  
    <div id="flux-actions">
      <button id="flux-use-button">Use selected images</button>
      <input type="submit" value="Refresh">
    </div>

  </form>

</div>