<div id="flux-asset-browser">
<form action="<%= url_for(:action => 'list') %>" method="GET">


  <div id="flux-tags">  
	  <% @tags.each do |tag| 
	    tagname = tag[:tag]  
	  %>
		<input type="radio" id="radio-<%= tagname %>" name="radio" /><label for="radio-<%= tagname %>"><%= tagname %></label>
		<% end %>
  </div>

  <div class="flux-images">  
    <div id="assets">

    </div>
  </div>

  <div class="submit">
    <input type="submit">
  </div>


</form>
</div>

<%= content_for :javascripts do %>
<script>

	$(function() {

	  $( "#flux-tags" ).buttonset();
		$( "#selectable" ).selectable();
		

    
		
		$('#flux-asset-browser form').submit(function(e){		  
      // if(typeof console != 'undefined'){console.log(this.action)};
      $.ajax({
        url: this.action,
        dataType: 'html',
        complete: function(data) {
          // if(typeof console != 'undefined'){console.log(data.responseText)};
          
          $('#assets').html(data.responseText);
		      $( "#selectable" ).selectable();          
        }
      });
      return false;
      
		});
		$('#flux-asset-browser form').submit();
	});

</script>


<!-- <script type="text/javascript" charset="utf-8">

// Function for binding logic to top level window
function openFile(json) {
  if(window.top.opener){
    window.top.opener.<%= @callback_function %>(json);
    }
};


(function(){
  chooser = new AssetChooser({
    tags: <%= @tags.to_json %>,
    activeTags: <%= @active_tags.to_json %>,
    assetURL:'<%= url_for(:action => 'list') %>',
    onSave: openFile,
    //onCancel: window.close,
    allowMultiple: <%= @multiple %>
  });
})();
</script> -->

<% end %>

