<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Fluxiom Assets</title>

  <%= stylesheet_link_tag     "/vendor/typus/fluxiom/chooser.css" %>  
  <%= javascript_include_tag  "/vendor/jquery-ui-1.8.9.custom/js/jquery-1.4.4.min.js",
                              "/vendor/typus/fluxiom/chooser.js" %>
</head>
<body>

  <div id="flux-asset-browser">

    <form id="flux-form" action="<%= url_for(:action => 'list') %>" method="GET">

      <div id="flux-toolbar">

        <div id="flux-tags">  
          <% if @filter_tag 
            tag = @filter_tag
          %>
          <label class="flux-tag filter-tag" for="radio-<%= tag.tag.parameterize %>" data-tag-filter="tag_<%= tag.id %>">
      		  <input type="radio" id="radio-<%= tag.tag.parameterize %>" "checked" class="filter-tag" name="radio" value="tag_<%= tag.id %>">
      		  <%= tag.tag %>
      		</label>
          <% end %>
      	  <% @tags.each do |tag| %>
          <label class="flux-tag" for="radio-<%= tag.tag.parameterize %>" data-tag-filter="tag_<%= tag.id %>">
      		  <input type="radio" id="radio-<%= tag.tag.parameterize %>" name="radio" value="tag_<%= tag.id %>">
      		  <%= tag.tag %>
      		</label>
      		<% end %>
        </div>

        <div id="flux-actions">
          <a href="#" id="flux-clear-button">clear selection</a>
          <input type="submit" id="flux-use-button" data-default-text="Use selected images" value="Use selected images">
        </div>

      </div><!--/flux-toolbar-->    

      <div id="flux-assets">  
        <ol>
        <% @assets.each do |asset| %>
          <% next unless asset.public_url %>
        	<li class="flux-asset <%= asset.tags.collect { |t| "tag_#{t.id}"}.join(' ') %>">
        	  <img src="<%= asset.large_thumbnail_url %>" data-public-url="<%= asset.image_url %>" data-description="<%= asset.description %>">
        	  <% if asset.description %>
        	  <span class="caption"><%= asset.description %></span>
        	  <% end %>
        	</li>
        <% end %>	  
        </ol>
      </div><!--/flux-assets-->

    </form>

  </div>    

</body>
</html>