<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Fluxiom Assets</title>
  <%= stylesheet_link_tag "fluxiom-chooser" %>  
</head>
<body>
  <div id="flux-asset-chooser">
    <div id="flux-toolbar">
      <div id="flux-tags">  
        <!-- tags... -->
      </div>
      <div id="flux-actions">
        <a href="#" id="flux-clear-button">clear selection</a>
        <input type="submit" id="flux-use-button" data-default-text="Use selected images" value="Use selected images">
      </div>
    </div>
    <div id="flux-assets">  
      <ol>
        <!-- assets... -->
      </ol>
      <a id="flux-loader">Loading</a>
    </div>
  </div>

  <script> 
  var fluxApiUrl = "<%= @api_url %>"; 
  var fluxBaseUrl = "<%= @base_url %>";
  var fluxUseProxy = <%= @use_proxy %>;
  </script>

  <%= javascript_include_tag "fluxiom-chooser" %>

  <script id="flux-tag-template" type="text/template">
    <a class="flux-tag {{ classes }}" data-tag-id="{{ id }}"><strong>{{ tag }}</strong> </a>
  </script>

  <script id="flux-asset-template" type="text/template">
    <li class="flux-asset {{ classes }}">
      <img src="{{ img_url }}" data-public-url="{{ public_url }}" data-description="{{ description }}">
      <span class="caption">{{ description }}</span>
    </li>
  </script>
</body>
</html>