<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Fluxiom Assets</title>
  <%= stylesheet_link_tag "typus_fluxiom/chooser/application" %>
</head>
<body>
  <div id="flux-asset-chooser">
    <div id="flux-toolbar">
      <div id="flux-tags">
        <!-- tags... -->
      </div>
      <div id="flux-actions">
        <a href="#" id="flux-clear-button">clear selection</a>
        <input type="submit" id="flux-use-button" data-default-text="Use selected images" value="Use selected images">
      </div>
    </div>
    <div id="flux-assets">
      <ol>
        <!-- assets... -->
      </ol>
      <a id="flux-loader">Loading</a>
    </div>
  </div>

  <%= javascript_include_tag "typus_fluxiom/chooser/application" %>

  <script>
    $(document).ready(function(){
      $('#flux-asset-chooser').fluxiomChooser({
        apiUrl: '<%= @api_url %>',
        baseUrl: '<%= @base_url %>',
        useProxy: <%= @use_proxy %>,
        perPage: 100
      });
    });
  </script>

</body>
</html>